In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [33]:
file_path = '/content/drive/MyDrive/Colab Notebooks/CSE_151A/Proj1/credit_card_approval.csv'
df = pd.read_csv(file_path)
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,F,Y,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,F,N,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,M,Y,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,F,Y,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,M,Y,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

In [34]:
df.isna().any()

ID                     False
CODE_GENDER            False
FLAG_OWN_CAR           False
FLAG_OWN_REALTY        False
CNT_CHILDREN           False
AMT_INCOME_TOTAL       False
NAME_EDUCATION_TYPE    False
NAME_FAMILY_STATUS     False
NAME_HOUSING_TYPE      False
DAYS_BIRTH             False
DAYS_EMPLOYED          False
FLAG_MOBIL             False
FLAG_WORK_PHONE        False
FLAG_PHONE             False
FLAG_EMAIL             False
JOB                    False
BEGIN_MONTHS           False
STATUS                 False
TARGET                 False
dtype: bool

No missing data in all columns.

In [35]:
# Jessie
# CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [36]:
df['CODE_GENDER'].value_counts()
df['CODE_GENDER']= LabelEncoder().fit_transform(df['CODE_GENDER'])
df['CODE_GENDER']

0         0
1         0
2         1
3         0
4         1
         ..
537662    1
537663    0
537664    1
537665    1
537666    0
Name: CODE_GENDER, Length: 537667, dtype: int64

0 for female and 1 for man

In [37]:
df['FLAG_OWN_CAR'].unique()

array(['Y', 'N'], dtype=object)

In [38]:
df['FLAG_OWN_CAR'] = LabelEncoder().fit_transform(df['FLAG_OWN_CAR'])
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,1,N,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,0,0,N,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,1,1,Y,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,0,1,Y,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,1,1,Y,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

1 for yes and 0 for no

In [39]:
df['FLAG_OWN_REALTY'].unique()

array(['N', 'Y'], dtype=object)

In [40]:
df['FLAG_OWN_REALTY'] = LabelEncoder().fit_transform(df['FLAG_OWN_REALTY'])
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,1,0,2+ children,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,0,0,0,No children,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,1,1,1,No children,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,0,1,1,1 children,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,1,1,1,2+ children,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

1 for yes and 0 for no

In [41]:
df['CNT_CHILDREN'].unique()

array(['2+ children', 'No children', '1 children'], dtype=object)

To encode the CNT_CHILDREN column as: 0 for "No children," 1 for "1 children," and 2 for "2+ children".

In [42]:
cnt_children_mapping = {
    'No children': 0,
    '1 children': 1,
    '2+ children': 2
}

# Apply the mapping
df['CNT_CHILDREN'] = df['CNT_CHILDREN'].map(cnt_children_mapping)
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,1,0,2,270000.0,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,0,0,0,0,81000.0,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,1,1,1,0,270000.0,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,0,1,1,1,112500.0,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,1,1,1,2,139500.0,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

In [43]:
df['AMT_INCOME_TOTAL']

0         270000.0
1          81000.0
2         270000.0
3         112500.0
4         139500.0
            ...
537662    166500.0
537663    135000.0
537664    180000.0
537665    220500.0
537666    387000.0
Name: AMT_INCOME_TOTAL, Length: 537667, dtype: float64

In [44]:
scaler = StandardScaler()
df['AMT_INCOME_TOTAL'] = scaler.fit_transform(df['AMT_INCOME_TOTAL'].values.reshape(-1, 1))
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,1,0,2,0.699862,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,-6,C,0
1,5142753,0,0,0,0,-1.115022,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,-4,0,0
2,5111146,1,1,1,0,0.699862,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,0,C,0
3,5010310,0,1,1,1,-0.812541,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,-3,0,0
4,5010835,1,1,1,2,-0.553272,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-29,0,0

In [45]:
data_encoded = pd.get_dummies(df, columns=['NAME_EDUCATION_TYPE'], prefix='Education')
data_encoded

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET,Education_Academic degree,Education_Higher education,Education_Incomplete higher,Education_Lower secondary,Education_Secondary / secondary special
0,5065438,0,1,0,2,0.699862,Married,With parents,-13258,-2300,...,0,Managers,-6,C,0,False,False,False,False,True
1,5142753,0,0,0,0,-1.115022,Single / not married,House / apartment,-17876,-377,...,0,Private service staff,-4,0,0,False,False,False,False,True
2,5111146,1,1,1,0,0.699862,Married,House / apartment,-19579,-1028,...,0,Laborers,0,C,0,False,True,False,False,False
3,5010310,0,1,1,1,-0.812541,Married,House / apartment,-15109,-1956,...,0,Core staff,-3,0,0,False,False,False,False,True
4,5010835,1,1,1,2,-0.553272,Married,House / apartment,-17281,-5578,...,0,Drivers,-29,0,0,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537662,5142999,1,1,0,1,-0.294003,Married,With parents,-12372,-5401,...,0,Core staff,-8,0,0,False,False,False,False,True
537663,5010773,0,0,1,0,-0.596484,Married,With parents,-14160,-4635,...,0,Sales staff,-8,0,0,False,True,False,False,False
537664,5105601,1,0,1,0,-0.164368,Married,House / apartment,-24204,-2462,...,0,Private service staff,-7,0,0,False,True,False,False,False
537665,5132833,1,1,0,0,0.224536,Married,House / apartment,-22647,-3847,...,0,Laborers,-1,0,0,False,False,False,False,True
537666,5135381,0,0,1,0,1.823362,Married,House / apartment,-20082,-4979,...,0,Sales staff,-45,C,0,False,False,False,False,True

In [46]:
# Bobby
# NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, DAYS_BIRTH, DAYS_EMPLOYED, FLAG_MOBIL, FLAG_WORK_PHONE

In [47]:
# Will
# FLAG_PHONE, FLAG_EMAIL, JOB, BEGIN_MONTHS, STATUS

In [48]:
# FLAG_PHONE
df['FLAG_PHONE'].unique()

array([0, 1])

In [49]:
# FLAG_EMAIL
df['FLAG_EMAIL'].unique()

array([0, 1])

In [50]:
# JOB
df['JOB'].unique()

array(['Managers', 'Private service staff', 'Laborers', 'Core staff',
       'Drivers', 'High skill tech staff', 'Realty agents', 'Secretaries',
       'Accountants', 'Sales staff', 'Medicine staff',
       'Waiters/barmen staff', 'Low-skill Laborers', 'Cleaning staff',
       'HR staff', 'Cooking staff', 'Security staff', 'IT staff'],
      dtype=object)

In [51]:
# BEGIN_MONTHS
df['BEGIN_MONTHS'].unique()

array([ -6,  -4,   0,  -3, -29, -25, -19, -18, -43, -38, -15, -30, -26,
        -8, -39, -12, -52,  -7, -20, -35, -32,  -2, -11, -10, -13, -33,
       -34, -31,  -1, -23, -27, -22, -28,  -5, -36,  -9, -16, -14, -17,
       -24, -37, -44, -47, -48, -21, -42, -50, -51, -54, -40, -41, -55,
       -46, -58, -49, -53, -56, -57, -45, -59, -60])

In [52]:
scaler = StandardScaler()
df['BEGIN_MONTHS'] = scaler.fit_transform(df[['BEGIN_MONTHS']].values.reshape(-1, 1))
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,1,0,2,0.699862,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,0.947814,C,0
1,5142753,0,0,0,0,-1.115022,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,1.090287,0,0
2,5111146,1,1,1,0,0.699862,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,1.375231,C,0
3,5010310,0,1,1,1,-0.812541,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,1.161523,0,0
4,5010835,1,1,1,2,-0.553272,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-0.690617,0,0

In [53]:
df['BEGIN_MONTHS']

0         0.947814
1         1.090287
2         1.375231
3         1.161523
4        -0.690617
            ...
537662    0.805342
537663    0.805342
537664    0.876578
537665    1.303995
537666   -1.830396
Name: BEGIN_MONTHS, Length: 537667, dtype: float64

In [54]:
# STATUS
df['STATUS'].unique()

array(['C', '0', 'X', '2', '1', '5', '3', '4'], dtype=object)

In [55]:
# Ordinal mapping
status_mapping = {
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    'C': -1,  # Paid off
    'X': -2   # No loan
}
df['STATUS'] = df['STATUS'].map(status_mapping)
df['STATUS']

0        -1
1         0
2        -1
3         0
4         0
         ..
537662    0
537663    0
537664    0
537665    0
537666   -1
Name: STATUS, Length: 537667, dtype: int64

In [56]:
df.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,JOB,BEGIN_MONTHS,STATUS,TARGET
0,5065438,0,1,0,2,0.699862,Secondary / secondary special,Married,With parents,-13258,-2300,1,0,0,0,Managers,0.947814,-1,0
1,5142753,0,0,0,0,-1.115022,Secondary / secondary special,Single / not married,House / apartment,-17876,-377,1,1,1,0,Private service staff,1.090287,0,0
2,5111146,1,1,1,0,0.699862,Higher education,Married,House / apartment,-19579,-1028,1,0,1,0,Laborers,1.375231,-1,0
3,5010310,0,1,1,1,-0.812541,Secondary / secondary special,Married,House / apartment,-15109,-1956,1,0,0,0,Core staff,1.161523,0,0
4,5010835,1,1,1,2,-0.553272,Secondary / secondary special,Married,House / apartment,-17281,-5578,1,1,0,0,Drivers,-0.690617,0,0